<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <!--Data Source=.;Initial Catalog=HouradoDB;Integrated Security=True-->
    <!--Data Source=(LocalDB)\HouradoInstance;AttachDbFilename=|DataDirectory|\DB\HouradoDB.mdf;Integrated Security=True;Connect Timeout=30-->
    <add name="connectionstring" connectionString="Data Source=.;Initial Catalog=HouradoDB;Integrated Security=True"/>
  </connectionStrings>
</configuration>
